/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
====================
Grid
====================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
	width: 960px;
	margin: 0 auto;
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
	font: 70px/2 'Playfair Display', "Helvetica Neue", Helvetica, Arial, serif;
}

/*
  ========================================
  Header
  ========================================
*/

.primary {
	text-align: center;
	margin: 15px auto;
}

.search {
	text-align: center;
	margin: 130px;
}

.searchbar {
	margin-bottom: 30px;
}

#query {
	background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    width: 550px;
    font: 44px/2 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*
  ========================================
  Button
  ========================================
*/

#submit {
	border: 1px solid black;
	border-radius: 7px;
	padding: 4px 10px;
	font: 20px/1 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#submit:hover {
	cursor: pointer;
}

/*
  ========================================
  Entries
  ========================================
*/

.entry {
	padding: 30px 25px;
	border-radius: 10px;
	margin: 30px auto;
	background-color: rgba(82, 176, 153, .3);
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.entry:hover {
	border: 2px solid black;
}

.entryHeader {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.snippetText {
	font-size: 15px;
	margin-top: 10px;
	line-height: 1.5;
}


